::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

* {
  font-family: "Segoe UI", sans-serif;
}

body {
  font-weight: 400;
  font-size: 15px;
}

label, .title {
  font-weight: 500 !important;
}

.topbar .navbar-header {
  padding: 5px !important;
}
.topbar .navbar-header img {
  width: 100%;
  height: 70px;
  object-fit: contain;
}

.sidebar-nav a {
  padding-right: 30px !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(3, 169, 243, 0.07);
}
.table-striped tbody tr:hover {
  background: rgba(3, 169, 243, 0.22);
}
.table-striped .action {
  min-width: 120px;
}

/** Input file **/
.upload-style {
  display: none;
}

.upload-style + label {
  background-color: #03a9f3;
  width: 165px;
  padding: 10px 20px;
  color: white;
}
.upload-style + label:hover {
  background-color: rgba(3, 169, 243, 0.62);
}

.form-control {
  padding: 2px;
}
.form-control.form-control-line {
  border-bottom: 1px solid #d7d7d88c !important;
}

.select2-container {
  width: 100% !important;
}

.image-box {
  display: flex;
  flex-wrap: wrap;
}
.image-box .image-item {
  padding: 12px;
  position: relative;
}
.image-box .image-item img {
  width: 110px;
  height: 110px;
  object-fit: cover;
}
.image-box .image-item.image-in-listing {
  padding: 0;
}
.image-box .image-item.image-in-listing img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.image-box .image-item .btn-remove {
  position: absolute;
  right: -7px;
  top: -8px;
  color: red;
  background-color: white;
  font-size: 16px;
  border-radius: 50%;
}

.select2 {
  width: 100% !important;
}

.form-group {
  align-items: center;
}
.form-group input {
  font-size: 16px;
}
.form-group .is-valid {
  border-bottom: 1px solid #34ce57 !important;
}
.form-group .invalid-feedback {
  color: red;
  font-size: 90%;
}

.status-box {
  padding: 0.3rem 1.5rem;
  color: white;
  border-radius: 1rem;
}

.btn i {
  font-size: 18px;
}

/*** Pagination ***/
.pagination li a {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.pagination li a:hover {
  background-color: rgba(255, 153, 136, 0.64);
  border: 1px solid rgba(255, 153, 136, 0.42);
  color: white;
}
.pagination li a.active {
  border: 1px solid rgba(255, 153, 136, 0.64);
  color: white;
  background-color: #fb9678;
}
.pagination li a.disabled {
  cursor: default;
  color: #838383;
}
.pagination li a.disabled:hover {
  background-color: transparent;
}

.elfinder .ui-widget-header {
  background: inherit;
}

.form-material .form-control[readonly] {
  background-color: #e9ecef !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider-round {
  background-color: #2196F3;
}
.switch input:focus + .slider-round {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch .slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.switch .slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.switch.small {
  width: 30px;
  height: 18px;
}
.switch.small .slider-round::before {
  left: 3px;
  bottom: 3px;
  height: 13px;
  width: 13px;
}
.switch.small input:checked + .slider-round:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/*# sourceMappingURL=main.css.map */
