body {
  font-family: "Piazzolla", serif;
}

.main-bg-color {
  color: white;
  background-color: #12584a;
}

.main-outline-bg-color {
  color: #6c757d;
  border-color: #12584a;
}

.main-bg-color-light {
  color: white;
  background-color: #1ABC9C;
}

.main-outline-bg-color-light {
  color: #6c757d;
  border-color: #1ABC9C;
}

header .logo img {
  width: 100%;
  object-fit: contain;
}
header nav a {
  color: white !important;
  font-size: 18px !important;
  font-weight: normal !important;
  text-transform: capitalize !important;
}
header nav a:hover {
  color: #1ABC9C !important;
}
header nav .recruit-modal {
  float: right;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.sticky-header .recruit-modal {
  height: 3.75rem;
}
header.sticky-header nav a {
  color: inherit !important;
}
@media (max-width: 739px) {
  header nav a {
    color: #12584a !important;
  }
}

.form-group {
  margin-bottom: 1rem;
}

@media (max-width: 739px) {
  .index-page .slider-caption h2 {
    font-size: 50px;
  }
}
.index-page .search-group button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 20px;
  border-color: white !important;
}
.index-page .search-group button.search-btn {
  width: 10rem;
  background-color: rgba(9, 89, 73, 0.88);
}
.index-page .search-group input {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  border-color: white !important;
  font-size: 20px;
}
.index-page .search-group input:active, .index-page .search-group input:focus {
  border-color: white !important;
}
.index-page .search-group input::placeholder {
  color: white !important;
  opacity: 1;
}

.news-listing .news-item {
  display: flex;
}
.news-listing .news-item .news-image {
  display: flex;
  align-items: center;
  width: 25%;
}
.news-listing .news-item .news-info {
  width: 75%;
  display: flex;
  padding-left: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  height: 7.5rem;
}
.news-listing .news-item .news-info .title {
  font-size: 15px;
  font-weight: 600;
  color: #1ABC9C;
  margin-bottom: 0;
}

.recruit-form-modal img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.new-post-list img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.btn-close {
  color: black;
}
.btn-close:focus {
  box-shadow: inherit;
  color: inherit;
}

.select2 {
  max-width: 100%;
}
.select2 .select2-selection {
  border-color: #aaaaaa73;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.select2 .select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%);
}

.select2-container--open {
  z-index: 9999;
}

.select2-container .select2-dropdown {
  border-color: #aaaaaa73;
}

footer {
  background-color: #12584a !important;
}
footer #copyrights {
  color: white;
  background-color: #12584a !important;
}
footer .social-icon i {
  font-size: 18px;
}

.is-hot-badges {
  background-color: red;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  font-size: 8px;
  line-height: 1;
  color: white;
  padding: 2.5px 10px 2.5px 5px;
  margin-left: 5px;
}

.form-search .select2 .select2-selection {
  height: 40px;
}
.form-search .select2 .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.form-search form input, .form-search form .btn {
  height: 40px;
}
@media (max-width: 739px) {
  .form-search form .btn {
    display: block;
    margin: auto;
  }
}

.page-section tbody, .page-section td, .page-section tfoot, .page-section th, .page-section thead, .page-section tr {
  border-style: solid;
  border-width: 1px;
}

/*# sourceMappingURL=main.css.map */
