body {
  font-family: "Piazzolla", serif;
}

.main-bg-color {
  color: white;
  background-color: #12584a;
}

.main-outline-bg-color {
  color: #6c757d;
  border-color: #12584a;
}

.main-bg-color-light {
  color: white;
  background-color: #1ABC9C;
}

.main-outline-bg-color-light {
  color: #6c757d;
  border-color: #1ABC9C;
}

header nav a {
  font-size: 18px !important;
  font-weight: normal !important;
  text-transform: capitalize !important;
}
header nav a:hover {
  color: #1ABC9C !important;
}
header nav .recruit-modal {
  float: right;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .recruit-modal a {
  color: black;
}
header.sticky-header .recruit-modal {
  height: 3.75rem;
}
header.dark nav a {
  color: white;
}

.form-group {
  margin-bottom: 1rem;
}

@media (max-width: 739px) {
  .index-page .slider-caption h2 {
    font-size: 50px;
  }
}
.index-page .search-group button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 20px;
  border-color: white !important;
}
.index-page .search-group button.search-btn {
  width: 10rem;
  background-color: rgba(9, 89, 73, 0.88);
}
.index-page .search-group input {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  border-color: white !important;
  font-size: 20px;
}
.index-page .search-group input:active, .index-page .search-group input:focus {
  border-color: white !important;
}
.index-page .search-group input::placeholder {
  color: white !important;
  opacity: 1;
}

.news-listing .news {
  padding: 0 3rem;
}
.news-listing .news .listing {
  margin-bottom: 5rem;
}
.news-listing .news .listing .news-item {
  display: flex;
}
.news-listing .news .listing .news-item .image {
  margin-right: 1rem;
}
.news-listing .news .listing .news-item .image img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}
.news-listing .news .listing .news-item .title a h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.news-listing .news .listing .news-item .time {
  font-style: italic;
}
.news-listing .news .listing .news-item .description {
  font-size: 1rem;
  max-height: 82px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@media (max-width: 739px) {
  .news-listing .news .listing .news-item .image {
    margin-right: 0;
    width: 25%;
  }
  .news-listing .news .listing .news-item .title a h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .news-listing .news .listing .news-item .time, .news-listing .news .listing .news-item .description {
    font-size: 13px;
  }
}
@media (max-width: 739px) {
  .news-listing .news {
    padding: inherit;
  }
}

.btn-close {
  color: black;
}
.btn-close:focus {
  box-shadow: inherit;
  color: inherit;
}

.select2 {
  width: 100% !important;
}
.select2 .select2-selection {
  border-color: #aaaaaa73;
  border-radius: 0;
  height: 2rem;
  display: flex;
  align-items: center;
}

.select2-container--open {
  z-index: 9999;
}

.select2-container .select2-dropdown {
  border-color: #aaaaaa73;
}

footer {
  background-color: #12584a !important;
}
footer #copyrights {
  color: white;
  background-color: #12584a !important;
}
footer .social-icon i {
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
